In [1]:
import os
import pandas as pd
import numpy as np
from rich import print
from MT_job import MT_job as mt

In [82]:

year = 2023
#os.chdir('E:/GEIH/Empalme/'+str(year)+'/')
path = r'E:/GEIH/Empalme/Consolidada/'
df = pd.read_csv(path+'GEIH_'+str(year)+'_'+'.csv',sep=",",parse_dates=True,na_values=['nan'])
ciiu = pd.read_csv(path+'CIIU.csv',sep=";",parse_dates=True,na_values=['nan'])
df = pd.merge(df, ciiu, on=['RAMA4D_R4'], how='left')
print("Current working directory: {0}".format(os.getcwd()))

Current working directory: d:\Bases DANE\Bases de Empleos\Programas y Resultados

In [83]:
pd.options.display.float_format = '{:0,.0f}'.format
df['FEX_C18'].groupby([df['PER'], df['MES']]).sum().mean(level=0)

C:\Users\User\AppData\Local\Temp\ipykernel_15660\200513838.py:2: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.median(level=1) should use df.groupby(level=1).median().
  df['FEX_C18'].groupby([df['PER'], df['MES']]).sum().mean(level=0)

PER
2023   22,788,394
Name: FEX_C18, dtype: float64

In [84]:
# Bases de trabajo 
df['OCI'] = 1
df = mt.new_vars(df.copy())
mt.print_pop_empl(df, year)

Población fex_2018 : 22788394.0
 Ocupados fex_2018 : 22788394.0
 Puestos de trabajo : Puestos   20,313,681
dtype: float64

In [85]:
df.columns

Index(['PERIODO', 'MES', 'PER', 'DIRECTORIO', 'SECUENCIA_P', 'ORDEN',
       'FEX_C18', 'P3271', 'P6040', 'P3042', 'P6430', 'P6500', 'P6590S1',
       'P6600S1', 'P6750', 'P6850', 'P7070', 'INGLABO', 'RAMA2D_R4',
       'RAMA4D_R4', 'RAMAS_cn', 'DESCRIPCION RAMA NB', 'R_25-AGR', 'Sec_25',
       'R_12-AGR', 'Sec_12', 'R_60-AGR', 'Sec_60', 'OCI', 'fex', 'hor',
       'horas_efectivas', 'horas_efectivas_anuales', 'Puestos', 'cat_ocup',
       'asal_hours', 'ind_hours', 'asal', 'ind'],
      dtype='object')

In [86]:
df.groupby(['PER', 'MES'])[['FEX_C18','horas_efectivas']].sum().reset_index().groupby(['PER'])[['FEX_C18','horas_efectivas']].mean().reset_index()

db = pd.pivot_table(df,
               values=['FEX_C18','horas_efectivas','asal','ind','asal_hours','ind_hours'], 
               index=['RAMA4D_R4'],
               columns=['MES'], 
               aggfunc=np.sum, fill_value=0)
table2 = db.groupby(axis=1, level=0).mean()

#Read excel 
ciiu_s = pd.read_excel('CIIU_CSTIC.xlsx',header=0,index_col=0)

# Merge ciiu_s with table2 llaves RAMA4D_R4 con CIIU 4
merged_df = pd.merge(ciiu_s, table2, left_on='CIIU 4',right_on='RAMA4D_R4', right_index=True)
merged_df['PER'] =year
merged_df
#Guardar en excel

,ACTIVIDAD,FEX_C18,asal,asal_hours,horas_efectivas,ind,ind_hours,PER
CIIU 4,,,,,,,,
2610,Manufactura TIC,"3,163","2,876","131,157","144,544",287,"13,386",2023
2620,Manufactura TIC,"1,335","1,269","62,611","65,088",66,"2,477",2023
2630,Manufactura TIC,934,924,"43,977","44,468",10,491,2023
2640,Manufactura TIC,705,453,"21,680","33,514",252,"11,834",2023
3320,Servicios TI,"3,087","1,775","83,990","137,007","1,312","53,018",2023
4220,Construcción TIC,"12,918","10,228","461,132","577,022","2,690","115,890",2023
4644,Comercio TIC,"8,603","7,802","369,835","400,712",801,"30,877",2023
4651,Comercio TIC,"11,604","10,990","504,402","534,961",614,"30,559",2023
4652,Comercio TIC,"16,086","12,044","582,241","746,016","4,042","163,776",2023
4719,Comercio TIC,"125,230","76,127","3,608,342","5,841,546","49,103","2,233,204",2023
5820,Servicios TI,"12,479","10,174","461,538","579,632","2,305","118,094",2023
5911,Contenido y Media,"13,615","5,439","260,361","608,584","8,176","348,223",2023
5920,Contenido y Media,"1,794",239,"11,027","68,839","1,555","57,812",2023
6010,Contenido y Media,"13,910","11,739","530,702","616,283","2,171","85,581",2023
6020,Contenido y Media,"9,562","7,273","341,465","474,285","2,289","132,820",2023
6110,Telecomunicaciones,"58,191","55,289","2,596,480","2,722,892","2,902","126,413",2023
6120,Telecomunicaciones,"48,027","46,079","2,116,590","2,203,392","1,948","86,802",2023
6130,Telecomunicaciones,"8,632","7,505","324,469","363,954","1,127","39,484",2023
6190,Telecomunicaciones,"31,544","21,879","1,005,272","1,432,889","9,665","427,618",2023
6201,Servicios TI,"112,618","90,818","3,977,798","4,913,122","21,800","935,324",2023
6202,Servicios TI,"45,955","38,116","1,684,949","2,007,082","7,839","322,132",2023
6209,Servicios TI,"10,676","7,744","350,416","477,337","2,932","126,921",2023
6311,Servicios TI,"10,964","9,976","464,280","503,444",989,"39,164",2023
6312,Contenido y Media,"2,133","1,387","66,295","111,657",746,"45,362",2023
6399,Contenido y Media,"1,738","1,461","61,436","72,818",277,"11,382",2023
7020,Servicios TI,"56,209","31,955","1,428,894","2,303,485","24,254","874,591",2023
7310,Contenido y Media,"111,563","55,612","2,482,298","4,710,103","55,951","2,227,806",2023
7730,Servicios TI,"20,740","14,952","661,868","882,403","5,788","220,535",2023
7740,Contenido y Media,19,19,751,751,0,0,2023
9511,Servicios TI,"31,337","9,244","424,324","1,239,566","22,093","815,242",2023
9512,Servicios TI,"21,172","7,451","348,595","967,586","13,721","618,991",2023

In [87]:
# donde se encuentrar los arcivos en que carpeta
merged_df.to_excel('CIIU_CSTIC_'+str(year)+'.xlsx')